form.dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 250px;
  border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  margin: 23px auto;
  overflow: hidden;
}
form.dropzone.dz-drag-hover {
  border-color: #00F;
  color: #999;
}
.dz-message {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -157px;
}
form.dz-started .dz-message {
  opacity: 0.1;
}
.dz-message span {
  width: 314px;
  display: inline-block;
}
.dz-progress,
.dz-success-mark,
.dz-error-mark,
.dz-size,
.dz-filename,
.dz-details img {
  display: none;
}
.dz-preview {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin: 5px;
  float: left;
  color: #000;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.35),inset 0 0 1px #FFF;
  border-radius: 5px;
  background: #F7F7F7;
}
.dz-preview .code {
  margin-top: 5px;
}
.dz-preview .dz-details {
  width: 45px;
  height: 45px;
}
.dz-preview.manifest-json {
  height: 68px;
}
.dz-preview.manifest-json {
  text-transform: uppercase;
  background: #333;
  color: #F7F7F7;
  display: table;
}
.dz-preview.manifest-json .dz-details {
  width: auto;
  height: auto;
}
.dz-preview.manifest-json span {
  display: table-cell;
  vertical-align: middle;
}
.dz-preview.dz-error {
  border: 1px solid #CC0000;
}
.dz-preview.dz-error .dz-error-message {
  display: block;
  font-size: 13px;
  background: #CDCDCD;
  padding: 5px;
  margin-top: 5PX;
}
.info {
  font-size: 20px;
}
.info .family {
  margin-right: 10px;
}
.info .version {
  font-weight: bold;
}
