<div class="navbar transparent navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><strong>IcoSmith</strong></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right"></ul>
      </div>
    </div>
  </div>
</div>
