<h1>IcoSmith</h1>
<form id="b64upload" action="/generate_font" method="post" enctype="multipart/form-data">
  <input type="hidden" name="base64zip" value="">
</form>

<div class="info">
</div>
<form id="smith-upload" action="/generate_font" method="post" enctype="multipart/form-data" class="dropzone">
</form>
<p>
  <em>Only <strong>*.svg</strong> and the <strong>manifest.json</strong></em>
</p>
<button id="send">Generate Font!</button>
